
/* font style */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* Primary class */

.btn-primary{
color: #FFF;
font-size: 20px;
border-radius: 8px;
background: #E55473;
padding: 20px 43px;
gap: 10px;
margin-top: 32px;
border: 0;
}


/* navbar section start */
.nav-container{
    background: rgba(229, 84, 115, 0.10);
    height: 850px;
    width: 1920px;
    height: 850px;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.banner-container{
    display: flex;
    padding-right: 240px;
}

.banner-text{
    align-items: center;
    padding-left: 240px;
    padding-bottom: 147px;
}

.banner-title{
    color: #272727;
    font-size: 68px;
    font-weight: 800;
    width: 708px;
    padding-top: 197px;
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    width: 634px;
   margin-bottom: 20px;
   margin-bottom: 0px;
   margin-top: 32px;
}

.banner-img{
padding-top: 50px;
width: 635px;
height: 800px;
position: bottom right;
padding-bottom: 0px;
}
/* navbar section end */

/*  Featured section start BONUS */
.featur-text{
    text-align: center;
     padding-top: 178px 764px 48px;
}

.featur-title{
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
padding-top: 178px;
}
.featur-description{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
width: 594px;
text-align: center ;
margin: auto;
}

.main-featured{
    display: flex;
    justify-content: space-between;
}

/* feature 1st part end */

.flower-img{
    
    width: 310px;
    height: 428px;
    padding:110px 78px 0px 78px;
    }

.First{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 530px;
    background-repeat: no-repeat;
    padding-top: 110px;
}    

.flower-description{
color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
}

.featur-flower-container{
    display: flex;
    justify-content: center;
}



 /* Featured section end  */

 /* Optional section  */

 /* Hot deal 2nd section start from here  */

 /* Hot deal section end */
  /* Instagram 3rd section start from here  */



 /* Instagram section end  */


 /* Get The Latest Deal 4th section start from here  */


 /* Get The Latest Deal section end */
