
/* font style */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

*{
    /* width: 1920px; */
}

/* Primary class */

.btn-primary{
color: #FFF;
font-size: 20px;
border-radius: 8px;
background: #E55473;
padding: 20px 43px;
gap: 10px;
margin-top: 32px;
border: 0;
width: 217px;
height: 64px;
}


/* navbar section start */
.nav-container{
    background: rgba(229, 84, 115, 0.10);
    height: 850px;
    width: 1920px;
    margin: auto;
}

.banner-container{
    display: flex;
    padding-right: 240px;
    justify-content: space-between;
}

.banner-text{
    align-items: center;
    padding-left: 240px;
    padding-bottom: 147px;
}

.banner-title{
    color: #272727;
    font-size: 68px;
    font-weight: 800;
    width: 708px;
    padding-top: 197px;
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    width: 634px;
   margin-bottom: 20px;
   margin-bottom: 0px;
   margin-top: 32px;
}

.banner-img{
padding-top: 50px;
width: 635px;
height: 800px;
position: bottom right;
padding-bottom: 0px;
}
/* navbar section end */

/*  Featured section start BONUS */
.featur-text{
    text-align: center;
     padding-top: 178px 764px 48px;
}

.featur-title{
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
padding-top: 178px;
}
.featur-description{
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
width: 594px;
text-align: center ;
margin: auto;
}

.main-featured{
    display: flex;
    justify-content: space-between;
}

/* feature 1st part end */


.flower-img{
    width: 210px;
    height: 328px;
    padding: 110px 78px 0px 78px;
    }

.First{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 264px;
    height: 430px;
    background-repeat: no-repeat;
    padding-top: 110px;
}    

.second{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);  
    width: 264px;
    height: 438px;    
}

.third{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
width: 264px;
height: 438px;
}

.flower-description{
color: #272727;
font-size: 24px;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
margin-bottom: 128px;
}

.flower-container{
   padding-top: 48px;
   padding-bottom: 32px;
    
}

.featur-flower-container{
    text-align: center;
    justify-content: center;
    display: flex;
    margin-left: 240px;
    margin-right:240px;
    gap: 24px;
}
 /* Featured section end  */

 /* Optional section  */
 .service-container{
    justify-content: center;
    margin: 100px;
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}
.service-type{
padding: 50px 30px;
padding-right: 20px;
}

.service-text{
color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 24px;
font-weight: 600;
line-height: 35px;
}

 /* Hot deal 2nd section start from here  */

.hot-deal-title{
color: #272727;
font-size: 40px;
font-weight: 800;
text-align: center;
}

.span-off{
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}
.hot-deal-description{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
}

.hot-deal-img{
width: 318px;
height: 420px;
padding: 100px 100px 186px;
}

.hot-deal-container{
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 1922px;
    height: 620px;
    text-align: center;
    justify-content: center;
    padding-right: 300;
    margin: auto;
}

.hot-deal-text-container{
   padding: 230px opx 162px;
    margin-left:  395pxpx;
    margin-top: 130px;
    margin-bottom: 162px;
}
 /* Hot deal section end */

 /* Instagram 3rd section start from here  */
 
 .instram-container{
padding-top: 128px;
 }

.instagram-title{
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}

.instagram-description{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.instagram-img{
width: 342px;
height: 396px;
gap: 24px;
}

.instagram-img-container{
    margin: 128px 240px 128px 240px;
    display: flex;
    justify-content: center;
    gap: 24px;
}
 /* section end  */

 /* Get The Latest Deal 4th section start from here  */

.get-deal-container{
    background-image: url('./Rectangle\ 9\ \(1\).png'); 
    width: 1440px;
    height: 549px;
    padding: 128px 240px 128px 240px ;
    background-repeat: no-repeat;
    background-size: cover;
    margin: ;
    margin: auto;
    justify-content: center;
}

.get-deal-title{
color: #272727;
padding-top: 100px;
text-align: center;
font-size: 40px;
font-weight: 800;
}

.get-deal-text{
color: rgba(39, 39, 39, 0.60);
text-align: center;
padding-bottom: 38px;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

.btn-placeholder{
width: 700px;
height: 64px;
border-radius: 8px;
background: #FFF;
border: none;
}

.btn-container{
   text-align: center;
 margin-bottom: 100px;
}
 /* section end */

 /* Footer 5th section start from here */
 .footer-container{
    background: #111010;
    width: 1922px;
    height: 449px;
    flex-shrink: 0;
    justify-content: center;
    margin: auto;
 }

 .footer-title{
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding-top: 100px;
 }
 .footer-span{
color: #E55473;
font-size: 48px;
font-weight: 800;
 }

 .footer-description{
color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
 }
.footer-copyright{
color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
padding-top: 22px;
padding-bottom: 128px;
}

/* section end */